:root {
    --primary: hwb(204 22% 17%);
    --primary-contrast: #fff;
    --secondary: #2d3e50;
}
body {
    margin: 0;
}
.hide {
    visibility: hidden;
}
.barra {
    text-align: center;
    padding: 10px;
    background-color: var(--secondary);
}
img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: sticky;
    bottom: 0;
    z-index: 1;
}
button {
    padding: 10px;
    color: var(--primary-contrast);
    border-radius: 3px;
    min-width: 50px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    cursor: pointer;
}
button:hover {
    opacity: .9;
}
button:active {
    opacity: .5;
}
button.active {
    background-color: red;
}
.fracao {
    display: flex;
    justify-content: center;
    background-color: var(--primary-contrast);;
    padding: 10px;
    width: 100px;
    border: 1px solid var(--primary);
    border-radius: 3px;
}
.fracao .page {
    display: inline;
    width: 50%;
    border: unset;
}
.hachura {
    border: 2px solid red;
    background-color: rgba(57, 149, 212, .6);
    position: absolute;
}
